/PIE/
/Examples/4DRendering/x64/Release/4DRendering.tlog
/Examples/GameObjects/x64/Release/GameObjects.tlog
/Examples/GUI/x64/Release/GUI.tlog
/Examples/HelloWindow/x64/Release/HelloWindow.tlog
/Examples/4DRendering/x64/Release
/Examples/GameObjects/x64/Release
/Examples/GUI/x64/Release
/Examples/HelloWindow/x64/Release
/source/x64/Release/PiE.tlog
/source/x64/Release
/TemplateProject/.vs/TemplateProject/FileContentIndex
/TemplateProject/.vs/TemplateProject/v17
/.vs/PiE
/.vs
/Examples
/source/x64/Debug
/x64
